
<div class="prPanel">
<button (click)="changeIndex(currentIndex, 'down')" [disabled]="currentIndex <= 0" > Prev</button>
<span class="project-container" *ngIf="currentPr" @slideAnimation >
  <div class="header">
    <span class="txt">
      <h2>{{ currentPr?.title }}</h2>
      <a [href]="currentPr?.link" target="_blank">Link</a>
    </span>
    <p>{{ currentPr?.description }}</p>
  </div>

  <img
    [ngSrc]="currentPr?.sc"
    alt="Project Screenshot"
    width="1200"
    height="750"
    priority="true"
  >
</span>
<button (click)="changeIndex(currentIndex, 'up')" [disabled]="currentIndex >= prLength - 1">Next</button>
</div>
<!-- aspect-ratio: 1.60 -->