
<div class="contacto-container">
    <!-- <div class="imgCont">
        <img class="perfil" src='material/perfil.jpeg' alt="perfil">
    </div> -->
    <ul class="contactos">
        <li>
            <img src="material/mail-alt-svgrepo-com.svg" alt="Email">
            <a href="mailto:pablo.maldonado.suazo@gmail.com">Email</a>
        </li>
        <li> 
            <img src="material/github-svgrepo-com.png" alt="Github">
            <a href="https://www.github.com/pabloAmaldonado">Github</a>
        </li>
        <li>
            <img src="material/linkedin.svg" alt="LinkedIn">
            <a href="https://www.linkedin.com/in/pablomaldonadosuazo/">LinkedIn</a>
        </li>
    </ul>
</div>