div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(2px);
    z-index: 10;
    width: 100%;
}

div > h1 {
    margin: 10px;
}

div > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

select {
    margin-left: auto;
    margin-bottom: auto;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}
